<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to the Dev Portal</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <h3>Getting Started</h3>
    <p>
      Getting started with our App Store is easy. Follow the instructions below to understand how you can upload and manage your apps.
    </p>

    <h3>Build Your First App</h3>
    <p>
      Building your first app can be a rewarding experience. We provide a range of resources, from beginner to advanced, to help you on your journey. Dive in and start coding!
    </p>

    <h3>Join the Bank Community Developer</h3>
    <p>
      By joining our developer community, you gain access to exclusive resources, workshops, and events. Collaborate with developers from around the world and stay updated on the latest trends.
    </p>
  </mat-card-content>

  <mat-card-actions>
    <div class="button-container">
      <button  mat-raised-button color="primary">Create New App</button>
    </div>
  </mat-card-actions>
</mat-card>


