<div class="app-general-text">
  <p>We're delighted to have you here. Feel free to open any app of your choice. Please note, third-party applications are prohibited from accessing your data, as it's securely managed internally by us.</p>
</div>
<mat-grid-list [cols]="cols" rowHeight="2:1" gutterSize="16px">
  <mat-grid-tile *ngFor="let item of items">
    <mat-card class="card-background">
      <mat-card-content>
        <h2 class="centered-title">{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </mat-card-content>
      <button mat-button color="primary">Open</button>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
