<div *ngIf="apps && iconDataUrls">
  <div class="wrapper">
    <mat-grid-list [cols]="cols" rowHeight="2:1" gutterSize="16px">
      <!-- Use index while iterating so that we can access the corresponding icon URL from iconDataUrls -->
      <mat-grid-tile *ngFor="let item of apps; let i = index">
        <mat-card class="card-background">
          <mat-card-content>
            <h2 class="centered-title">{{ item.name }}</h2>
            <p class="centered-title">{{ item.description }}</p>
          </mat-card-content>
          <img class="app-icon" [src]="iconDataUrls[i]" alt="{{ item.name }} Icon">
          <button mat-button color="primary" (click)="openInNewTab(item.url)">Open</button>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
