.example-spacer {
  flex: 1 1 auto;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

mat-grid-tile {
  background: lightblue;
}

.mat-toolbar {
  background-color: #3b5998 !important;
}

