<h1 class="display-5">Big expenses</h1>
<p>
  Those are the transactions, which have a big spending amount. You should
  analyze what you are spending your money on.
</p>

<ul *ngFor="let bigTransaction of this.bigTransactions" class="list-group ml-5">
  <li class="d-flex align-items-center justify-content-center mb-2">
    <div
      class="card"
      [ngClass]="{
        'text-red': bigTransaction.amount > 800,
        'text-orange': bigTransaction.amount > 299
      }"
    >
      <div class="card-body">
        <h5 class="card-title">{{ bigTransaction.description }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">
          You purchased a {{ bigTransaction.description }} at
          {{ bigTransaction.location }}
        </h6>
        <p class="card-text">
          At the {{ bigTransaction.timeStamp }} you bought a
          {{ bigTransaction.description }} at {{ bigTransaction.location }} for
          {{ bigTransaction.amount }} CHF.
        </p>
      </div>
    </div>
  </li>
</ul>
